/* tab */

.tabIcon {
  display: block;
  width: 40px;
  height: 40px;
  margin: 13px auto 9px;
  background-size: 100% 100%;
}

.home-icon {
  background-image: url(../images/icon/home.png);
}

.home-acticon {
  background-image: url(../images/icon/homeAct.png);
}

.lover-icon {
  background-image: url(../images/icon/love.png);
}

.lover-acticon {
  background-image: url(../images/icon/loveAct.png);
}

.Shopping-icon {
  background-image: url(../images/icon/shopping.png);
}

.Shopping-acticon {
  background-image: url(../images/icon/shoppingAct.png);
}

.My-icon {
  background-image: url(../images/icon/my.png);
}

.My-acticon {
  background-image: url(../images/icon/myAct.png);
}

/* 首页 */

.iconmoney {
  display: block;
  width: 30px;
  height: 30px;
  background-size: 100% 100%;
  background-image: url(../images/icon/Bean.png);
}

/* 公益 */

.lovericon {
  display: block;
  width: 30px;
  height: 30px;
  background-size: auto 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.jine {
  background-image: url(../images/icon/jine.png);
}

.addres {
  background-image: url(../images/icon/addres.png);
  margin-left: 40px;
}

.addAct {
  background-image: url(../images/icon/addAct.png);
}

/* 购物车 */

.shoppingicon {
  display: block;
  width: 30px;
  height: 30px;
  background-size: auto 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.shoppinbot {
  margin: -10px 0 0 18px;
  background-image: url(../images/icon/bot.png);
}

.iconEdit {
  background-image: url(../images/icon/edit.png);
}

.iconreduce {
  width: 50px;
  height: 50px;
  background-image: url(../images/icon/res.png);
}

.iconAdd {
  width: 50px;
  height: 50px;
  background-image: url(../images/icon/add.png);
}

/* 个人中心 */

.myicon {
  display: block;
  width: 60px;
  height: 60px;
  background-size: auto 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.righticon {
  width: 30px;
  height: 30px;
  background-image: url(../images/icon/rig.png);
}

.myico1 {
  margin-right: 40px;
  background-image: url(../images/icon/myItem1.png);
}
.myico2 {
  margin-right: 40px;
  background-image: url(../images/icon/myItem2.png);
}
.myico3 {
  margin-right: 40px;
  background-image: url(../images/icon/myItem3.png);
}
.myico4 {
  margin-right: 40px;
  background-image: url(../images/icon/myItem4.png);
}
.myico5 {
  margin-right: 40px;
  background-image: url(../images/icon/myItem5.png);
}
.myico6 {
  margin-right: 40px;
  background-image: url(../images/icon/myItem6.png);
}